body{
	font-family:arial, helvetica, sans-serif;
	overflow:hidden;
	color: rgb(234,89,0);
}

.bg{
	background:url('../images/Tela_Inicial.png') no-repeat #333333 fixed center;
	background-size:100% auto;
}

h2{
	font-size:35px;
}

a{
	color:#00997e;
	text-decoration:none;
}

button{
	font-size:1em;
	border-radius:15px;
	position:relative;
	overflow:hidden;
	color:#fff;
	border: #00982b 3px solid;
	background:transparent;
	padding:7px 20px;
	font-weight:bold;
	z-index:1;
	cursor:pointer;
}

.bgBut{
	height:250%;
	position:absolute;
	width:200%;
	bottom:0;
	left:-50%;
	z-index:-1;

background: #00bd36; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #00bd36 50%, #00982b 51%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#00bd36), color-stop(51%,#00982b)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #00bd36 50%,#00982b 51%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #00bd36 50%,#00982b 51%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #00bd36 50%,#00982b 51%); /* IE10+ */
background: radial-gradient(ellipse at center,  #00bd36 50%,#00982b 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bd36', endColorstr='#00982b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.blue{
	border: #003688 3px solid;
}

.blue .bgBut{
background: #003688; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0043a9 50%, #003688 51%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#0043a9), color-stop(51%,#00982b)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0043a9 50%,#003688 51%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0043a9 50%,#003688 51%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0043a9 50%,#003688 51%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0043a9 50%,#003688 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0043a9', endColorstr='#003688',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.red{
	border: #a51111 3px solid;
}

.red .bgBut{
background: #a51111; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #e82121 50%, #a51111 51%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#e82121), color-stop(51%,#a51111)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #e82121 50%,#a51111 51%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #e82121 50%,#a51111 51%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #e82121 50%,#a51111 51%); /* IE10+ */
background: radial-gradient(ellipse at center,  #e82121 50%,#a51111 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82121', endColorstr='#a51111',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.black{
	border: #1a1a1a 3px solid;
}

.black .bgBut{
background: #1a1a1a; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #2d2d2d 50%, #1a1a1a 51%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#2d2d2d), color-stop(51%,#1a1a1a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #2d2d2d 50%,#1a1a1a 51%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #2d2d2d 50%,#1a1a1a 51%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #2d2d2d 50%,#1a1a1a 51%); /* IE10+ */
background: radial-gradient(ellipse at center, #2d2d2d 50%,#1a1a1a 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#1a1a1a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.orange{
	border: #ff6600 3px solid;
}

.orange .bgBut{
background: #ff6600; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #ff8534 50%, #ff6600 51%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#ff8534), color-stop(51%,#ff6600)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #ff8534 50%,#ff6600 51%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #ff8534 50%,#ff6600 51%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #ff8534 50%,#ff6600 51%); /* IE10+ */
background: radial-gradient(ellipse at center, #ff8534 50%,#ff6600 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8534', endColorstr='#ff6600',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.game input[type='text']{
 background-color:#1a1a1a;
 color:#b3b3b3;
 border:0;
 border-radius:5px;
 padding:10px;
}

input{
	border:0;
}

select{
	color:#808080;
	padding:5px;
	border:0;
	background-color:#fcfcfc;
	outline:none;
	-webkit-appearance:none;
	appearance:none;
	cursor:pointer;
}

select::-ms-expand {
	visibility: hidden;
}

.divSel{
	position:relative;
	width:240px;
	}
			
.divSel::after {
	content:'';
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #666666;
	right:5px; top:10px;
    position:absolute;
    pointer-events:none;
}			

@-moz-document url-prefix() { 

.divSel {
	overflow:hidden;
	border-right:1px solid #f1f1f1;		
	}
	
select {
     width:110%!important;
	color:#d3d3d3;
	font-size:12px;
  }
  
  }


.header{
	margin:20px;
}

.header img{
	max-width:245px;
}

.cadCorner{
	float:right;
	color:white;
	text-align:center;
}

.wrap{
	border-radius:15px;
	background-color:rgba(26,26,26,0.8);
	margin:0px auto;
	padding:25px;
	color:#fff;
	text-align:center;
}

.left{
	float:left;
}

.right{
	float:right;
}

/*index*/

.index{
	max-width:550px;
	position:absolute;
	bottom:50px;
	left:200px;
	padding:10px 25px 25px;
	}

.index section{
	display:inline-block;
}

.index .flipped{
	color:#ffcb38;
	font-size:40px;
	-ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
	padding-top:40px;
	font-weight:bold;
}


.index .flipped p{
	color:#fff;
	font-size:50px;
	margin:10px 1em;
	}
	
.index section:last-child{
	font-size:25px;
	float:right;
	font-weight:bold;
	}

/* login */

.login{
	padding:20px;
	width:300px;
}

.login h2{
	margin-top:0px;
}

.login form{
	width:240px;
	margin:auto;
}

.err{
	color:#ffcc00;
	font-size:10px;
	text-align:left;
	width:100%;
	display:block;
}

.login input{
	width:96%;
	padding:5px 2%;
	margin:5px 0px 20px;
}

.login form section .err{
	text-align:center;
	font-size:15px;
	margin-bottom:10px;
}
	
/*cadastro premium*/
.cadPre{
	width:600px;
}

.cadPre form{
	width:520px;
	font-size:16px;
}	

.cadPre form div{
	width:240px;
}

.cadPre input {
	width:96%;
	padding:5px 2%;
	margin:0px 0px 20px;
}

.cadPre select{
	width:100%;
	margin:0px 0px 20px;
	}

.cadPre span{
	text-align:left;
	width:100%;
	display:block;
	margin:5px 0;
}
	
.cadPre .err{
	font-size:13px;
}

.cadPre .left input:first-child{
	margin:0;
}

.cadPre .right span:first-child{
	margin:5px 0;
}

/* Cadastro Gratuito */

.cadGra input {
	width:96%;
	padding:5px 2%;
	margin:0px 0px 20px;
}

.cadGra input:first-child{
	margin:0;
}

.cadGra .err{
	font-size:13px;
	margin:5px 0 3px;
}

/*escolher Cadastro */

.esCad{
	width:600px;
	overflow:auto;
}

.esCad .left, .esCad .right{
	background:#111111;
	margin:20px;
	border-radius:5px;
	padding:20px 10px;
	position:relative;
	width:240px;
}

.esCad div h2{
	font-weight:normal;
	font-size:32px;
}

.esCad div h2 span{
	color:#ffcc00;
}

.esCad div p{
	text-align:left;
}

.esCad div button{
	position:absolute;
	bottom:-16px;
	left:65px;
}

.esCad .right{
	margin-bottom:70px;
}

/* cadastro realizado */

.bemV{
	margin-top:10%
}


/****************** Jogo ************************/

.gameBg{
	text-align:center;
	position:fixed;
	z-index:-5;
	width:100%;
	height:100%;
	background: url('../images/mesa.png') no-repeat #0d0b2f fixed center;
	background-size:75% auto;
	top:0;
	left:0;
	overflow:hidden;
	}

	
.gameBg .bgLight{
	position:fixed;
	z-index:-4;
background: rgb(234,89,0); /* Old browsers */
background: -moz-radial-gradient(bottom center, ellipse cover,  rgba(234,89,0,0.75) 0%, rgba(127,60,9,0.25) 40%, rgba(0,0,0,0) 80%); /* FF3.6+ */
background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%,rgba(234,89,0,0.75)), color-stop(40%,rgba(127,60,9,0.25)), color-stop(80%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(bottom center, ellipse cover,  rgba(234,89,0,0.75) 0%,rgba(127,60,9,0.25) 40%,rgba(0,0,0,0) 80%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(bottom center, ellipse cover,  rgba(234,89,0,0.75) 0%,rgba(127,60,9,0.25) 40%,rgba(0,0,0,0) 80%); /* Opera 12+ */
background: -ms-radial-gradient(bottom center, ellipse cover,  rgba(234,89,0,0.75) 0%,rgba(127,60,9,0.25) 40%,rgba(0,0,0,0) 80%); /* IE10+ */
background: radial-gradient(at bottom center,  rgba(234,89,0,0.75) 0%,rgba(127,60,9,0.25) 40%,rgba(0,0,0,0) 80%); /* W3C */
	width:100%;
	height:100%;
	right:-10%;
	bottom:0;
}

.gameBg img{
	position:relative;
	z-index:-3;
	margin:50px auto;
}

.gBase{
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	z-index:2;
}

.player{
	top:20px;
	border-radius:25px;
	left:70px;
	z-index:-2;
	padding:5px 10px;
	position:relative;
	max-width:230px;
	background: #e0e0e0;
	border:5px solid #999999;
}

.player h2{
	background:#f9f9f9;
	border-radius:20px;
	margin:5px;
	padding:5px 10px 5px 80px;
	font-size:20px;
	position:relative;
	z-index:-2;
}

.avatar{
	top:-10px;
	position:absolute;
	left:-20%;
	border-radius:50%;
	border:10px solid #a51111;
	width:100px;
	height:100px;
	overflow:hidden;
}

.avBg{
	border:3px solid #808080;
	border-radius:50%;
	width:200%;
	height:100%;
	position:absolute;
	bottom:-6px;
	left:-50%;
	z-index:-1;
	background: #999999; /* Old browsers */
	background: -moz-radial-gradient(top center, ellipse cover,  #999999 40%, #808080 41%); /* FF3.6+ */
	background: -webkit-gradient(radial, top center center, 0px, center center, 100%, color-stop(40%,#999999), color-stop(41%,#808080)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(top center, ellipse cover,  #999999 40%,#808080 41%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(top center, ellipse cover,  #999999 40%,#808080 41%); /* Opera 12+ */
	background: -ms-radial-gradient(top center, ellipse cover,  #999999 40%,#808080 41%); /* IE10+ */
	background: radial-gradient(ellipse at top center,  #999999 40%,#808080 41%); /* W3C */
}

.player button{
	margin-left:80px;
}

.gBase button.red:nth-child(2){
	position:absolute;
	right:20px;
	top:20px;
}

.chat{
	max-width:360px;
	position:absolute;
	left:20px;
	bottom:20px;
}

.chatWin{
	background:rgba(26,26,26,0.6);
	border-radius:10px;
	color:#b3b3b3;
	padding:15px 20px;
}

.pSay{
	color:#d45500;
}

.chat .right{
	margin-left:5px;
	padding:7px 15px;
}

/* escolha o tipo de jogo */

.gaCho{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.avCha {
	position:absolute;
	top:150px;
	left:50px;
	max-width:205px;
	background:rgba(26,26,26,0.8);
	border-radius:10px;
	text-align:center;
}

.avCha span{
	display:block;
	color:#ffffff;
	width:100%;
}

.avSel{
	display:inline-block;
	margin:10px;
	border-radius:10px;
	background:#e0e0e0;
	width:45px;
	height:45px;
}

.avSel:hover{
	margin:5px;
	width:55px;
	height:55px;
}
.gaCho .wrap{
	max-width:250px;
	position:relative;
	bottom:-250px;
	font-weight:bold;
	line-height:200%;
}

.gaCho button{
	margin:20px;
}

/* waiting players */

.gaWa{
	color:#fff;
	max-width:360px;
	margin:300px auto;
	text-align:center;
}

.gaWa h2{
	font-size:25px;
}

.gaWa dl{
margin:0;
}

.gaWa dd{
	line-height:200%;
	padding:0;
	margin:10px;
	text-align:left;
}

.gaWa dd span{
	color:#00ff00;
	font-size:3em;
	float:right;
}

.gaWa dd:last-child span{
	color:#fff;
	position:relative;
	top:-10px;
	font-size:2em;
}
/* ۷ √

/****************Cards **************/

.card{
	width:330px;
	height:65%;
	position:absolute;
	top:50px;
	left:50px;
	border-radius:20px;
}

.redCard{
	background-color:#aa0000;
}

.orangeCard{
	background-color:#ff6600;
}

.blueCard{
	background-color:#003689;
}

.greenCard{
	background-color:#01942b;
}

.inCard{
	width:300px;
	height:90%;
	background-color:white;
	-webkit-transform: skew(2deg, 2deg);
	-moz-transform: skew(2deg, 2deg);
	-o-transform: skew(2deg, 2deg);
	border-radius:20px;
	margin: 5%;
	border:#808080 1px solid;
	}
	
.cardContent{
	height:86%;
	font-family:"Arial Narrow", "Helvetica Narrow", sans-serif;
	position:absolute;
	z-index:5;
	top:0;
	left:0;
	color:#808080;
	padding:30px;
	overflow:visible;
}

.cardContent div, .cardContent h3{
	border-radius:10px;
	border:1px solid #808080;
	padding:5px;
}

.cardContent h1{
	font-family:Arial, helvetica, sans-serif;
	position:absolute;
	bottom:15px;
	right:20px;
	font-weight:normal;
}

.cardContent h1:first-child{
	top:-20px;
	left:20px;
	bottom:auto;
	right:auto;
}
.cardContent h1 span{
	font-size:65px;
}

.cardContent h3{
	font-weight:normal;
	text-align:center;
	font-size:16px;
	position:absolute;
	top:10px;
	max-width:200px;
	right:30px;
	padding:5px 10px;
}

.quest{
	height:43%;
	overflow:auto;
	font-size:14px;
	color:#000000;
	margin-top:60px;
}

.quest p{
	margin:5px;
}

.anwsers{
	border:0px!important;
	text-align:center;
	bottom:100px;
}

.anOpt{
	cursor:pointer;
	color:white;
	display:inline-block;
	margin:10px;
	width:35px;
	height:35px;
	font-size:30px;
	font-weight:bold;
	border-radius:50%!important;
	border:5px solid #ff6600 !important;
background: #ff6600; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #ff8534 50%, #ff6600 51%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#ff8534), color-stop(51%,#ff6600)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #ff8534 50%,#ff6600 51%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #ff8534 50%,#ff6600 51%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #ff8534 50%,#ff6600 51%); /* IE10+ */
background: radial-gradient(ellipse at top center, #ff8534 50%,#ff6600 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8534', endColorstr='#ff6600',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}
	
.source{
	max-width:160px;
	text-align:center;
	margin: 5px 0;
	position:absolute;
	bottom:35px;
}

.cardContent h1:last-child span{
	display:inline-block;
    transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
	position:relative;
	top:30px;

}

.askCard{
	text-align:center;
}

.askCard h1{
	color:#000;
	position:static;
	font-weight:bold;
	}

.askCard button{
	margin:20px;
}

.askCard div{
	border:0;
}

.askCard span{
	color:#0044aa;
	font-size:58px;
	margin:10px;
}

.askCard span.selected{
	color:#ff6600;
}

.askCard p{
	color:#0044aa;
	font-size:12px;
	max-width:128px;
	margin:20px auto 0;
}

/************* Jogadores *************/

.gamers .gBase{
	overflow:auto;
}

.logo img{
	margin:20px;
	width:250px;
	}
	
.cont{
	text-align:center;
	background:url('../images/timer.png') no-repeat;
	background-size:100%;
	color:red;
	height:80px;
	font-size:48px;
	width:135px;
	padding-top:10px;
	position:absolute;
	top:2px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	}
	
.trophy{
	position:absolute;
	top:20px;
	right:20px;
}



.gamers .card{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:100px;
}

.gamers .player:nth-child(4){
	left:15%;
	top:-1%;
}

.gamers .player:nth-child(5){
	left:15%;
	top:10%;
}

.gamers .player:nth-child(6){
	left:72%;
	top:-21%;
}

.gamers .player:nth-child(6) .avatar, .gamers .player:nth-child(7) .avatar{
	left:80%
}

.gamers .player:nth-child(7){
	left:72%;
	top:-10%;	
}

.gamers .player .avatar,.gamers .player .avBg{
	width:55px;
	height:55px;
}

.gamers .player .avatar{
	border-color:#0044aa;
	z-index:3;
}

.gamers .player .avBg{
	left:-5%;
	bottom:0;
}

.gamers .player{
	text-align:center;
	color:#242424;
	max-width:130px;
	border-color:#1a1a1a;
	background: #f9f9f9; /* Old browsers */
	background: -moz-radial-gradient(top center, ellipse cover,  #f9f9f9 40%, #e0e0e0 41%); /* FF3.6+ */
	background: -webkit-gradient(radial, top center center, 0px, center center, 100%, color-stop(40%,#f9f9f9), color-stop(41%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(top center, ellipse cover,  #f9f9f9 40%,#e0e0e0 41%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(top center, ellipse cover,  #f9f9f9 40%,#e0e0e0 41%); /* Opera 12+ */
	background: -ms-radial-gradient(top center, ellipse cover,  #f9f9f9 40%,#e0e0e0 41%); /* IE10+ */
	background: radial-gradient(ellipse at top center,  #f9f9f9 40%,#e0e0e0 41%); /* W3C */
	}
	
.gamers .player span{
	font-size:40px;
	line-height:80%;
}

.gamers .player span span{
	font-size:12px;
}

.gamers .player .name{
	position:absolute;
	left:0;
	bottom:-25px;
	background-color:#1a1a1a;
	color:#ffffff;
	padding:0px 0px 0px 30px;
	font-size:11px;
	width:110px;
	text-align:left;
	border-radius:10px;
	border:#1a1a1a 5px solid;
	background: -moz-radial-gradient(top center, ellipse cover,  #242424 40%, #1a1a1a 41%); /* FF3.6+ */
	background: -webkit-gradient(radial, top center center, 0px, center center, 100%, color-stop(40%,#242424), color-stop(41%,#1a1a1a)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(top center, ellipse cover,  #242424 40%,#1a1a1a 41%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(top center, ellipse cover,  #242424 40%,#1a1a1a 41%); /* Opera 12+ */
	background: -ms-radial-gradient(top center, ellipse cover,  #242424 40%,#1a1a1a 41%); /* IE10+ */
	background: radial-gradient(ellipse at top center,  #242424 40%,#1a1a1a 41%); /* W3C */

}

.playerInt{
	background:url('../images/console.png') no-repeat center bottom;
	background-size:450px;
	position:fixed;
	bottom:0;
	width:340px;
	height:85px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding:0 50px;
}

.playerInt div{
	display:inline-block;
}

.playerInt .stats{
	max-width:32px;
	margin:30px 10px;
	font-size:18px;
	color:#1a1a1a;
	text-align:center;
}

.playerInt .stats img{
	max-width:32px;
	cursor:pointer;
}

.playerInt .avatar{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	height:55px;
	width:55px;
	top:2px;
}

.name{
	position:absolute;
	text-align:center;
	background-color:#1a1a1a;
	color:#ffffff;
	font-size:11px;
	border-radius:10px;
	border:#1a1a1a 5px solid;
}

.playerInt .name{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:80px;
	z-index:10;
	bottom:5px;
	overflow:hidden;
	}
	
.playerInt .pontos span{
	color:#1a1a1a;
	font-size:14px;
	display:block;
	margin-bottom:-10px;
}

.playerInt .pontos{
	font-weight:bold;
	text-align:center;
	color:#aa0000;
	position:absolute;
	top:25px;
	right:100px;
	font-size:50px;
	max-width:50px;
}

.languages{
	position:absolute;
	right:20px;
	bottom:20px;
}

.results{
	width:850px;
	position:absolute;
	margin:50px auto;
	left:0;
	right:0;
	z-index:20;
	border-radius:30px;
	box-shadow:#000 0px 3px 10px;
}

.results .inCard{
	width:820px;
	height:350px;
	background-color:white;
	-webkit-transform: skew(-2deg, -1deg);
	-moz-transform: skew(-2deg, -1deg);
	-o-transform: skew(-2deg, -1deg);
	border-radius:20px;
	margin:15px;
	border:#808080 1px solid;
}

.results .cardContent{
	margin:12px;
	width:725px;
	padding:30px 50px;
}

.results .cardContent .left,.results .cardContent .right{
	width:50%;
	text-align:center;
}

.results h2{
	font-family:"Arial Black", "Helvetica Black", "Arial Bold", "Helvetica Bold", "sans-serif Bold";
	font-size:45px;
	color:#ff6600;
	margin-top:0;
	margin-bottom:30px;
}

.results button{
	margin-bottom:30px;
}

.results div{
	border:none;
	font-family:arial, helvetica, sans-serif;
}

.results img{
	margin-right:10px;
	cursor:pointer;
}

.results span{
	position:relative;
	top:-10px;
	color:#0044aa;
	cursor:pointer;
}

.results dl{
	font-size:20px;
	color:#000;
	font-family:arial, helvetica, sans-serif;
}

.results dt{
	font-weight:bold;
	margin:0px 0 10px;
}

.results dd{
	margin:0;
	line-height:140%;
	padding:0;
}

.star:after{
	content:url('../images/star.png');
	position:absolute;
	top:-20px;
	right:-20px;
}